@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
    --blue-pink-grad : linear-gradient(to right, #0000ff, hotpink);
}

html {
    font-family: "DM Sans";
    background: black;
}

body {
    background-image: 
    linear-gradient(to bottom, rgb(0,0,0,0), rgb(0,0,0,1)),
    url('assets/lazy.png');
    background-repeat: no-repeat;
    background-size: 300%;
}

.tooltip {
    --tt-bg : gray;
}

* {
    transition: 0.3s;
}

.animate-star {
    animation: logoFade 3s ease infinite;
}

.animate-glow {
    animation: glow 3s ease infinite;
}

@keyframes logoFade {
    0% {opacity: 1;}
    50% {
        opacity: 0.3;
        filter:blur(2px);
        transform: translateY(20px);
    }
    100% {opacity:1;}
}

@keyframes glow {
    0% {box-shadow: 0 0 100px rgba(255,255,255,.3);}
    50% {box-shadow: 0 0 100px rgba(255,255,255,.7);}
    100% {box-shadow: 0 0 100px rgba(255,255,255,.3);}
}